
h1 {
  font-family: "Heavitas", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: white;
}
h2 {
  font-family: "Heavitas", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: white;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: white;
}
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #424242;
}
h5 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #424242;
}
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #424242;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: italic;
  color: #424242;
}

.letrafooter {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: italic;
  color: black;
}


#empresaName {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #424242;

}


ul li a {
  color: black;
  font-family: "Poppins";
  src: url("fonts/Poppins-MediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Heavitas";
  src: url("fonts/Heavitas.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-MediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}


/*Kath*/
.fuente-poppins-buscador {
  font-family: "Poppins";
}

.fila-naranja {
  background-color: #f6990e;
  padding-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 15px;
}

.fila-naranja2 {
  background-color: #f6990e;
  padding-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  height: 650px;
  border-radius: 15px;
}

.fila-verde {
  background-color: #c8d300;
  padding-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 15px;
}

#columT {
  margin-left: 30px;
  margin-right: 30px;
}


.col-md-7 h2 {
  margin-top: 20px;
}
/*Kath*/


.titulosFilasTalentos {
  padding-top: 20px;
}

.card-body a {
  color: blue;
}

.BannerDeColor {
  width: 100%;
  height: 150px;
  top: 50px;
  background-color: #0492d0;
  background-size: cover;
  background-position: center;
}




/* ----------------------------kath -------------------------------------------------------*/

.BannerDeColorPerfil {
  width: 100%;
  height: 150px;
  top: 0px;
  background-color: #0492d0;
  background-size: 90px;
  background-position: center;
  margin-bottom: 75px;
}

.btn-interes {
  background-color: #769e33; 
  color: #ffffff; 
}

.textoInteresTalento {
  padding: 5px;
  width: 180px;
  border-radius: 15px;
  background-color: #769e33;
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


.fuente-poppins-buscador {
  font-family: "Poppins";
}

.fila-naranja {
  background-color: #E5ECF6;
  padding-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 900px;
}

.fila-naranja2 {
  background-color: #E5ECF6;
  padding-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 900px;
}

.fila-verde {
  background-color: #e5ecf6;
  padding-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 900px;
}

#columT {
  margin-left: 30px;
  margin-right: 30px;
}

.h2-t {
  padding-top: 20px;
}

.card:hover {
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.mi-boton:hover {
  background-color: #2980b9;
  color: #ffffff;
}

.mi-tarjeta {
  max-width: 600px;
  max-height: 90px;
  overflow: hidden;
}

.mi-tarjeta-formacion {
  max-width: 800px;
  overflow: hidden;
}

h6 {
  font-size: 18px; /* Ajusta el tamaño según tus necesidades */
  margin-bottom: 10px; /* Ajusta el margen inferior según tus necesidades */
}

.row-4 {
  border-bottom: 1px solid #ccc; /* Línea inferior */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  padding: 15px; /* Espaciado interno para resaltar la sombra */
}

/* ----------------------------kath -------------------------------------------------------*/

.verde-pagina-inicio {
  background-color: #c8d300;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}



/*PANCHO*/
#seleccionaAvatar {
  margin-top: 50px;
  margin-bottom: 50px;
}
.avatar-option {
  margin-bottom: 50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}
.selected-avatar {
  border: 3px solid #007bff;
}
#cardsPancho {
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 80px;
}
#formulario {
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 50px;
  padding: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#infoPersonal {
  background-color: #e5ecf6;
  padding-top: 23px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  border-top-left-radius: 20px ;
  border-top-right-radius: 20px;
}
.textoInfo {
  margin-bottom: 0px;
}
#textInteres {
  margin-bottom: 15px;
  margin-top: 15px;
}
/*PANCHO*/

.gradient-custom {
  background: #f3963b;  
}
/*XI*/
.BannerDeColor {
  width: 100%;
  height: 150px;
  top: 50px;
  background-color: #0492d0;
  background-size: cover;
  background-position: center;
}
#empresaName {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #424242;
}
/*XI*/





  /* ----------------------------kath -------------------------------------------------------*/


  /*banner principal pagina VISTA EMPRESAS*/
  .BannerDeColorEmpresa {
    width: 100%;
    top: 50px;
    height: 400px; 
    margin-bottom: 35px;
    /*background-color: #0492d0;*/
    background-size: cover;
    background-position: center;
    background-image: url('images/BannerEmpresa2.jpeg');

  }


  
  /*texto "EMPRESAS ASOCIADAS*/
  .textoEmpresa {
    color: white;
    font-size: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }


  /*texto "NUESTRAS EMPRESAS"*/
  .textoEmpresa2 {
    color: white;
    font-size: 35px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
   
  }


  /*Boton "ver más" de tarjetas de empresas*/
  .verMasBoton{
    background-color: #f3963b;
    margin-top: 10%;
    
  }

    /* Cambiar el color del botón al pasarle el mouse*/
    .verMasBoton:hover {
      background-color: #f3963b; 
   
    }
    


  /*Responsivo VISTA EMPRESA */
  @media screen and (max-width: 600px) {
    .contenedorEmpresas {
     background-color: #c8d300;
      display: flex;
      flex-direction: column;
      justify-content: left;
      
    }

     
      
    }
    
    /*Responsivo VISTA EMPRESA */
    @media screen and (max-width: 600px) {
      .card-body{
        display: flex;
        flex-direction: column;
       
        
      }
        
      }
      
   
 /*Contenedor principal VISTA DE EMPRESAS*/
  .contenedorEmpresas {
  margin-bottom: 5%;
  
  }


   /* Imagenes de empresas de la VISTA EMPRESAS*/
  .card-imgEmpresa{
    width: 80%;
    height: 80%;
    padding-left: 20%;
    padding-top: 5%;
  }

 

 /* .columnaNavEmpresa{
    background-color:white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc 
  
  }
  */


/* ----------------------------kath -------------------------------------------------------*/




