body {
    background-color: #fff8f8;
}
h1 { 
    font-family: "Helvetica Neue", sans-serif;
    color: #0cb1f2;
}
h2 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #f28a2e

}
h3 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: italic;
    color: #05f2c7
}
p {
    font-family: "Poppins", sans-serif;
    font-style: italic;
    color: #c6f227
}







